*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}
/* FIRST SECTION CONTAINER */
.containerOne{
  display: flex;
  justify-content: center;
  padding: 1rem 0 7rem 0 ;
  
}

.title{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 50px;
  border: 5px solid rgb(105, 100, 100);
  box-shadow: 3px 10px 2px 1px rgb(82, 80, 80);
}

/* SECOND SECTION CONTAINER - CARDS */

.containerTwo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
}

.box{   
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 3rem;
  border-radius: 15px; 
  border: 2px groove gainsboro;
  box-shadow: 3px 10px 2px 1px rgb(82, 80, 80);
}

.photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
